@use '../utilities/variables' as *;

.fun-wrapper {

    padding: 5rem 1rem 0;

    .project-container{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 60rem;
        margin: 0 auto;
    }

    h1 {
        margin-bottom: 1rem;
    }

    h2 {
        max-width: 50rem;
        text-align: center;
        margin: 0 auto;
    }

    h3 {
        font-family: $header-font;
        font-size: 1.75rem;
    }

    img {
        max-width: 15rem;
    }

    article {
        background-color: $baby-blue;
        margin: 1rem;
        padding: 1rem 1rem 0 1rem;
        text-align: center;
    }

    article:nth-of-type(2){
        background-color: $peach;
    }

    article:nth-of-type(3){
        background-color: $light-green;
    }

    article:nth-of-type(4){
        background-color: $baby-blue;
    }

    .btn {
        margin-top: 1.5rem;
        z-index: 2;
        color: black;
        text-transform: uppercase;
        padding: 9px 12px;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        box-shadow: 0 0.25em 0.5em 0 rgb(0 0 0 / 10%);
        text-shadow: 0 0.25em 0.5em rgb(0 0 0 / 10%);
        cursor: pointer;
        transition: opacity 150ms ease, border 300ms ease-in-out, background 300ms ease-in-out;
        transform: translateY(-50%);
        line-height: 1;

        &:hover {
            text-decoration: none;
            border: 2px solid rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    .fun-info {
        padding: $normal-padding;
        text-align: center;
    }

    .fun-item {
        margin-bottom: 1rem;
        padding: 2rem 0 1rem;
        width: 100%;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        box-shadow: 0 0.25em 0.5em 0 rgb(0 0 0 / 10%);
        text-shadow: 0 0.25em 0.5em rgb(0 0 0 / 10%);
     }

    @media screen and (min-width: 500px) {

        .fun-item {
            width: 25rem;
            margin: 1rem auto;
        }
    }
}