@use '../utilities/variables' as *;

.single-work-page {

    padding-top: 6rem;
    
    .bar-one {
        background-color: $peach;
        height: 1.25rem;
        width: 50%;
        z-index: -1;
        position: absolute;
        top: 19rem;
    }

    .bar-two {
        background-color: $baby-blue;
        height: 3.75rem;
        width: 50%;
        z-index: -1;
        position: absolute;
        top: 13rem;
        right: 0;
    }

    img {
        width: 24rem;
        max-width: 100%;
        overflow-x: hidden;
    }

    .image {
        text-align: center;
    }

    // h2 {
    //     font-family: 'Playfair Display', serif;
    //     font-size: 1.5rem;
    //     font-weight: bold;
    // }

    .heading.active {
        background-color: $baby-blue;
        border: none;
        border-bottom: solid 1px #212121;

        a {
            background: transparent;
            border: none;
        }
    }

    p {
        margin: 1.5rem 1rem 2rem;
        max-width: 100%;
    }
    
    .container-fluid {
        max-width: 50rem;
        padding: 1rem;
        margin: 0 auto;
    }

    .heading {
        cursor: pointer;
        background-color: #fff;
        border: none;
        
        padding: 0.5rem 1rem;
        transition: background-color 0.5s ease;

        a {
            color: #212121;
            background-color: transparent;
            border: none;
        }
    }

    .nav-tabs {
        display: flex;
        justify-content: center;
    }

    .heading:hover,
    .heading:focus,
    .heading:active {
        background-color: $baby-blue;
        border-bottom: solid 1px $baby-blue;

        a {
            background: transparent;
        }
    }

    .nav-tabs {
        border-bottom: none;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        background: none;
        border: none;
    }

    .row {
        display: flex;
        justify-content: space-around;
    }

    h4 {
        font-family: $header-font;
        font-weight: bold;
    }

    .content-container {
        border: 2px solid black;
        padding: 1rem;
        margin: 1rem auto 0;
        max-width: 50rem;
    }

    .overview-info {
        margin: 1rem;
        max-width: 50rem;
        margin: 0 auto;

        p {
            margin-top: 1.5rem;
        }
    }

    ul {
        list-style-type: disc;
        padding: 1rem; 
    }

    .toolkit-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 30rem;
        max-width: 100%;

        li {
            margin: 0.5rem;
            align-self: flex-start;
            min-width: 120px;
        }
    }

    .bar {
        width: 20%;
        height: 9px;
        background-color: $baby-blue;
        margin: 1rem;
        position: relative;

        h2 {
            position: absolute;
            top: -6px;
            left: 1rem;
            font-weight: bold;
            font-size: min(6vw, 1.75rem);
        }
    }

    .links {
        display: flex;
        justify-content: space-evenly;
        width: 18rem;
        margin: 0.5rem auto 2.5rem;

        .live-link,
        .github-link {
            border:1.5px solid black;
            padding: 0.5rem 1rem;
            color: black;
        }

        a {
            text-decoration: none;
        }

        .live-link:hover{
            color: black;
            background-color: $peach;
            border-color: $peach;   
        }

        .github-link:hover {
            text-decoration: underline;
        }
    }

    .design-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }

    .designImages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        img {
            margin: 0 1rem;
        }
    }
}