//Fonts
$body-font: 'Raleway', sans-serif;
$header-font: 'Playfair Display', serif;

//Colours
$rich-black: #000411;
$baby-blue: #DEEDF0;
$light-green:#B2B8A3;
$peach: #F4C7AB;
$dark-teal: #669099;

//Padding
$normal-padding: 1rem;