@use '../utilities/variables' as *;

nav {
    overflow-x: hidden;
    max-width: 100%;

    ul {
        display: flex;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 2000;
        justify-content: space-around;

        .active {
            text-decoration: underline;
        }
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        color: $rich-black;
        text-decoration: none;
        padding: $normal-padding;
    }

    a:hover {
        background-color: $baby-blue;
        color: $rich-black;
        text-decoration: none;
    }
    
    p { 
        color: white;
    }

    button {
        background: transparent;
        border: none;
    }

    svg {
        fill: white;
        margin-bottom: 0.5rem;
    } 
}

@media screen  and (min-width: 700px) {
    nav {
        
        ul {
            width: 20rem;
            bottom: initial;
            top: 1rem;
            right: 1rem;
        }

        p {
            color: $rich-black;
        }

        svg {
            display: none;
        }   
    }
}