@use '../utilities/variables' as *;

//Use for all pages

body {
    overflow-x: hidden;
    font-family: $body-font;
    line-height: 1.5;
    color: $rich-black;
}

h1.title,
h2.title {
    text-align: center;
    font-size: 2.5rem;
}
